body {
    font-family: 'Arial, sans-serif';
    background-color: #0d1b2a; /* Luxury blue color */
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1b263b; /* Slightly darker blue */
    padding: 20px;
    text-align: center;
    position: relative;
}

.title-logo h1 {
    font-size: 2.5em;
    margin: 0;
    color: #e0e1dd;
}

.title-logo h2 {
    font-size: 1.5em;
    margin: 0;
    color: #a9b7c6;
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #e0e1dd;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20px;
    background-color: #415A71;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #ACC6A3;
}

.slider {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.introduction, .content, .call-to-action {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Transparent black for readability */
    margin: 20px;
    border-radius: 10px;
}

.content-img {
    width: 300px;
    height: auto;
    float: left;
    margin: 0 20px 20px 0;
}

.content-img3 {
    width: 300px;
    height: 280px;
    float: left;
    margin: 0 20px 20px 0;
}




button {
    background-color: #e0e1dd;
    color: #1b263b;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #a9b7c6;
}

.call-to-action {
    text-align: center;
}
